* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}

/* navigation */
nav {
    display: flex;
    align-items: center;
    padding: .5rem;
    background-color: #552583;
    color: #FDB927;
    max-height: 64px;
}

nav h1 {
    font-size: 2rem;

}

nav h1,
nav ul {
    margin: 0;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-right: 1rem;
    margin-left: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

nav>ul>li {
    display: inline-block;
    margin-right: 1rem;
}

nav>ul>li>a {
    padding: .25rem;
    text-decoration: none;
    color: #fff;
}

/* header */
header {
    text-align: center;
    min-height: 480px;
    background-image: url("https://maximumwallhd.com/wp-content/uploads/2015/07/fonds-ecran-kobe-bryant-13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: #fff;
    padding: .5rem;
}

header h1 {
    font-size: 3rem;
    margin-top: 18rem;
    
}

/* section */
section {
    padding: .5rem;
    margin: 0 auto;
    max-width: 120ch;
}

section>article {
    display: inline-block;
    padding: .5rem;
    margin: 0 .5rem 1rem;
    width: 100%;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
}

#featured-posts {
    display: flex;
    flex-direction: column;
}

/*Contact*/

#contact form {
    display: flex;
    flex-direction: column;
}
input[type=submit] {
margin-top: 1rem;
width: 5rem;
border-radius: .5rem;
border: none;
padding: .5rem;
background-color: #552583;
color: #FDB927;
font-weight: bold;
}
label {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
}

/*footer*/
footer {
    padding: 1rem;
    background-color: #f76c6c;
}